@model DB_ECommerce.MVC.ViewModels.Products_Orders.ProductOrderDetailsViewModel

@{
    ViewData["Title"] = "Order Details";
}

<h2>Order Details</h2>

<div>
    <h4>Product</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">Product Nme</dt>
        <dd class="col-sm-10">@Model.ProductName</dd>

        <dt class="col-sm-2">Quantity</dt>
        <dd class="col-sm-10">@Model.Quantity</dd>

        <dt class="col-sm-2">Total Price</dt>
        <dd class="col-sm-10">@Model.TotalPrice</dd>

        <dt class="col-sm-2">Order Number</dt>
        <dd class="col-sm-10">@Model.OrderNumber</dd>

        <dt class="col-sm-2">Product Order ID</dt>
        <dd class="col-sm-10">@Model.ProductOrderID</dd>
    </dl>

</div>

<a asp-action="Edit" asp-route-id="@Model.ProductOrderID" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
